<!doctype html>
<html>
<!--Designerd by: http://bootstrapthemes.co-->

<head>
  <meta charset="utf-8">
  <title>즐팀 : 메인 페이지</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let m = '<%= message %>';
      if (m) alert(m);
    }, false);
  </script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

  <div class="culmn">
    <!--Home page style-->
    <% include header %>
    <!--Home Sections-->

    <section id="hello" class="home bg-mega">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="main_home">
            <div class="home_text">
              <h1 class="text-white">Let's be <br /> the better DEVELOPER / DESIGNER!</h1>
            </div>

            <% 
                            if(!sess) {
                            %>
            <div class="home_btns m-top-40">
              <a href="/signin" target="_self" class="btn btn-primary m-top-20">
                SIGN IN
              </a>
              <a href="/signup" target="_self" class="btn btn-default m-top-20">
                SIGN UP
              </a>
            </div>
            <% 
                            } 
                            %>
          </div>
        </div>
        <!--End off row-->
      </div>
      <!--End off container -->
    </section>
    <!--End off Home Sections-->


    <!--About Sections-->
    <section id="about" class="about roomy-100">

      <div class="container">
        <div class="row">
          <div class="about_bottom_content">

            <div class="col-md-4">
              <div class="about_bottom_item m-top-20">
                <div class="ab_head">
                  <div class="ab_head_icon">
                    <i class="icofont icofont-question"></i>
                  </div>
                </div>

                <h5 class="m-top-30">즐팀이란?</h5>

                <div class="separator_small"></div>
                <p class="view_content m-top-20">
                  입학한지 얼마 되지 않은 신입생 여러분들도 스터디나 공모전을 함께 할 팀을 부담없이 만들 수 있는 공간입니다. <br />
                  즐팀의 가입자는 누구나 모집글을 작성하고 모집글에 신청 및 문의(쪽지)를 할 수 있습니다. </p>
              </div>
            </div>


            <div class="col-md-4">
              <div class="about_bottom_item m-top-20">
                <div class="ab_head">
                  <div class="ab_head_icon">
                    <i class="icofont icofont-heart"></i>
                  </div>
                </div>

                <h5 class="m-top-30">즐팀만의 장점은?</h5>

                <div class="separator_small"></div>
                <p class="view_content m-top-20">
                  전공 관련 팀만을 만드는 것이 아니므로 과, 동아리 상관없이 교류할 수 있습니다. <br />
                  교육과정에 없는 전공 분야도 공부함으로써 전공에 대한 시야가 넓어지며
                  독학을 통해 스스로 성장하는 법을 익힐 수 있습니다.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about_bottom_item m-top-20">
                <div class="ab_head">
                  <div class="ab_head_icon">
                    <i class="icofont icofont-gears"></i>
                  </div>
                </div>

                <h5 class="m-top-30">신청은 어떻게 하는 걸까요?</h5>

                <div class="separator_small"></div>
                <p class="view_content m-top-20">
                  한 계정당 글 작성 수를 제한하고 신청 시 신청자의 정보를 포함하여 <br />
                  모든 학생이 공평하게 기회를 가질 수 있도록 합니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!--End off row-->
      </div>
      <!--End off container -->
    </section>
    <!--End off About section -->

    <hr>

    <!--Skill Sections-->
    <section id="skill" class="skill roomy-100">

      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="skill_bottom_content text-center">
              <div class="col-md-3 col-xs-6" style="margin-bottom: 50px;">
                <div class="skill_bottom_item">
                  <h4 class="statistic-counter"><%= c.member %></h4>
                  <div class="separator_small"></div>
                  <h6><em>누적 가입자수</em></h6>
                </div>
              </div>
              <div class="col-md-3 col-xs-6" style="margin-bottom: 50px;">
                <div class="skill_bottom_item">
                  <h4 class="statistic-counter"><%= c.list %></h4>
                  <div class="separator_small"></div>
                  <h6><em>누적 모집글</em></h6>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="skill_bottom_item">
                  <h4 class="statistic-counter"><%= c.apply %></h4>
                  <div class="separator_small"></div>
                  <h6><em>누적 신청</em></h6>
                </div>
              </div>
              <div class="col-md-3 col-xs-6">
                <div class="skill_bottom_item">
                  <h4 class="statistic-counter"><%= c.team %></h4>
                  <div class="separator_small"></div>
                  <h6><em>누적 모임</em></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End off row-->
      </div>
      <!--End off container -->
    </section>
    <!--End off Skill section -->

    <hr style="margin-bottom: 0;">

    <!--Pricing Section-->
    <section id="pricing" class="pricing lightbg">
      <div class="container">
        <div class="row">
          <div class="main_pricing roomy-100">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <div class="head_title text-center">
                <h2>RECENT BOARD</h2>
                <div class="separator_auto"></div>
                <p>
                  현재 진행중인 팀 모집 중 가장 최근의 것을 알려드립니다!
                </p>
              </div>
            </div>
            <%
                                // $c_result = mysqli_query($conn, "SELECT * FROM recent ORDER BY num DESC");
                                // $line = mysqli_num_rows($c_result);

                                // for ($i = 0; $i < $line; $i++) { // 0부터 시작
                                //     mysqli_data_seek($c_result, $i); //가져올 레코드로 위치(포인터) 이동
                                //     $row_list = mysqli_fetch_array($c_result); //하나의 레코드 가져오기
                                    
                                //     $big = $row_list['big'];
                                //     $kind = $row_list['kind'];
                                //     $l_num = $row_list['list_num'];

                                //     if($big=="study"){
                                //         if($kind=="develop"){
                                //             $s_sql = "SELECT * FROM study_develop WHERE num=$l_num";
                                //         } else if($kind=="design"){
                                //             $s_sql = "SELECT * FROM study_design WHERE num=$l_num";
                                //         } else if($kind=="etc"){
                                //             $s_sql = "SELECT * FROM study_etc WHERE num=$l_num";
                                //         }
                                //     } 
                                
                                //     if($big=="contest"){
                                //             if($kind=="develop"){
                                //                 $s_sql = "SELECT * FROM study_develop WHERE num=$l_num";
                                //             } else if($kind=="design"){
                                //                 $s_sql = "SELECT * FROM study_design WHERE num=$l_num";
                                //             } else if($kind=="etc"){
                                //                 $s_sql = "SELECT * FROM study_etc WHERE num=$l_num";
                                //             } else if($kind=="idea"){
                                //                 $s_sql = "SELECT * FROM study_idea WHERE num=$l_num";
                                //             }
                                //         }

                                //     $result = mysqli_query($conn, $s_sql);
                                //     $row = mysqli_fetch_array($result); %>
            %>

            <div class="col-md-4 col-sm-12">
              <div class="pricing_item sm-m-top-30">
                <div class="pricing_top_border"></div>
                <div class="pricing_head p-top-20 p-bottom-100 text-center">
                  <h5 class="text-uppercase">TOP <%= // ($i+1) %>&nbsp;&nbsp;
                    <% // if(($i+1)==1) { %>
                    <i class="icofont icofont-crown" style="color: #efdc05;"></i>
                    <% // } %>
                  </h5>
                </div>
                <div class="pricing_price_border text-center">
                  <div class="pricing_price">
                    <p class="view_content text-white">
                      [<%= // $row['topic'] %>]
                      <br>
                      <span style="color: white; font-size:0.829em;">
                        <%= // $row['title'] %>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="pricing_body bg-white p-bottom-40" style="padding-top: 60px">
                  <ul>
                    <li><i class="fa fa-eye text-primary"></i> 조회수 : <%= // $row['hit'] %></li>
                    <li><i class="fa fa-check text-primary"></i> 신청 : <%= // $row['apply_num'] %> /
                      <%= // $row['want_num'] %></li>
                  </ul>
                  <div class="pricing_btn text-center m-top-40">
                    <a href=/board/study/list?num=<%= // $l_num %>&kind=<%= // $kind %>&big=<%= // $big %>"
                      class="btn btn-primary">글 읽어보기</a>
                  </div>
                </div>
              </div>
            </div><!-- End off col-md-4 -->
            <% // } 
                    
                    // if($line<2) {
                    %>
            <div class="col-md-4 col-sm-12">
              <div class="pricing_item sm-m-top-30">
                <div class="pricing_head p-top-20 p-bottom-100 text-center">
                  <h5 class="text-uppercase">TOP 2</h5>
                </div>
                <div class="pricing_price_border text-center">
                  <div class="pricing_price">
                    <p class="view_content text-white">
                      -
                    </p>
                  </div>
                </div>

                <div class="pricing_body bg-white p-bottom-40" style="padding-top: 60px">
                  <ul>
                    <li><i class="fa fa-eye text-primary"></i> 조회수 : -</li>
                    <li><i class="fa fa-check text-primary"></i> 신청 : - / -</li>
                  </ul>
                  <div class="pricing_btn text-center m-top-40">
                    <a class="btn btn-primary">글 읽어보기</a>
                  </div>
                </div>
              </div>
            </div><!-- End off col-md-4 -->
            <%
                    // }

                    // if($line<3) {
                    %>
            <div class="col-md-4 col-sm-12">
              <div class="pricing_item sm-m-top-30">
                <div class="pricing_head p-top-20 p-bottom-100 text-center">
                  <h5 class="text-uppercase">TOP 3</h5>
                </div>
                <div class="pricing_price_border text-center">
                  <div class="pricing_price">
                    <p class="view_content text-white">
                      -
                    </p>
                  </div>
                </div>

                <div class="pricing_body bg-white p-bottom-40" style="padding-top: 60px">
                  <ul>
                    <li><i class="fa fa-eye text-primary"></i> 조회수 : -</li>
                    <li><i class="fa fa-check text-primary"></i> 신청 : - / -</li>
                  </ul>
                  <div class="pricing_btn text-center m-top-40">
                    <a class="btn btn-primary">글 읽어보기</a>
                  </div>
                </div>
              </div>
            </div><!-- End off col-md-4 -->
            <% // } %>
          </div>
        </div>
        <!--End off row-->
      </div>
      <!--End off container -->
      <% include footer %>
    </section>
    <!--End off Pricing section -->

  </div>
</body>

</html>